
#card {
margin-top: 70px;
width: 400px;
height: 250px;
border: 1px solid;
padding: 10px;
}

form {
  margin-left: 100px;
  color: white;;
}


.title {
font-family: 'Macondo', cursive;
font-size: 100px;

}

body {
    padding-top: 70px;
    background-image: url(lunchBoxWood.jpeg);
    background-size: cover;
    margin-left: 150px;
    border: 30px solid white;

}

.form-horizontal {
  padding: 50px;
  margin-top: 70px;
  background-color: grey;
  clear: both;
  border: 30px solid white;
}
